cloudpickle==0.1.1
cymem==1.30
murmurhash==0.26.0
numpy==1.10.4
oauthlib==1.0.3
plac==0.9.1
preshed==0.46.1
requests==2.9.1
requests-oauthlib==0.6.0
semver==2.2.1
six==1.10.0
spacy==0.100.2
sputnik==0.8.1
text-unidecode==1.0
thinc==4.2.0
twython==3.3.0
ujson==1.35
wheel==0.24.0
wordfilter==0.2.5
